{% extends 'admin/master.html' %}
{% block main_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="m-0">
                                    <i class="fas fa-plus-circle"></i>
                                    Add Category
                                </h5>
                            </div>
                            <div class="col-6">
                                <a
                                        href="{{ url_for('indexCategory') }}"
                                        class="btn btn-outline-secondary float-right"
                                        role="button"
                                        aria-disabled="true"
                                >
                                     <i class="fas fa-arrow-circle-left"></i>
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputName">Name <span class="text-danger">*</span></label>
                                <input
                                        required
                                        type="text"
                                        class="form-control"
                                        id="exampleInputName"
                                        placeholder="Enter you name"
                                >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Gender <span class="text-danger">*</span></label>
                                <select
                                        required
                                        class="form-control"
                                        id="exampleInputName"
                                >
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Age <span class="text-danger">*</span></label>
                                <input
                                        required
                                        type="number"
                                        class="form-control"
                                        id="exampleInputName"
                                        placeholder="Enter you age"
                                >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Address <span class="text-danger">*</span></label>
                                <textarea
                                        rows="5"
                                        class="form-control"
                                        id="exampleInputName"
                                >

                                        </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
