<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Product Card</title>
    {% include "header/header.html" %}
</head>
<body class='snippet-body'>
<div id="app" class="container mt-1">
    <div class="row mt-1 p-2"
         style="border-radius: 5px;
                position: sticky; top: 0; z-index: 100; background-color: whitesmoke"
    >
        <a href="?filter_category=all">
            <button type="button"
                    class="btn btn-outline-primary ml-1 mr-1">All
            </button>
        </a>
        <a>
            <button
                    type="button"
                    class="btn btn-outline-primary ml-1 mr-1 active"
                    style="text-transform: uppercase"
            >
                category.name
            </button>
        </a>

        <div class="input-group flex-nowrap mt-2">
            <input
                    v-model="txt_src"
                    type="text"
                    class="form-control"
                    placeholder="name, code, barcode ..."
                    @input="liveSearch"
            >
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div
                v-for="(item, index) in this.product_list"
                class="col-md-3 mb-4">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center"
                        ><span
                                style="background-color: #366f69; font-size: 12px"
                                class="discount">item.category</span> <span
                                class="wishlist"><i class="fa fa-heart-o"></i></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center"><span
                                style="font-size: 14px"
                                class="discount">-item.discount%</span> <span
                                class="wishlist"><i class="fa fa-heart-o"></i></span>
                        </div>
                    </div>
                    <a href="/detail/item.name" target="_blank">
                        <img src="{{ getBaseUrl() }}/static/sting-energy-drink.jpeg"
                             class="img-fluid rounded thumbnail-image">
                    </a>

                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">[[ item.name ]]</h5>
                        <div class="d-flex flex-column mb-2">
                            <span class="new-price">0</span>
                            <small class="old-price text-right" style="font-weight: lighter; font-size: 14px">
                                <del>
                                    $0
                                </del>
                            </small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div class="color-select d-flex "><input type="button" name="grey" class="btn-1 creme">
                            <input
                                    type="button"
                                    name="red"
                                    class="btn-1 red ml-2">
                            <input type="button" name="blue" class="btn-1 blue ml-2"></div>
                        <div class="d-flex "><span class="item-size mr-2 btn-1" type="button">S</span> <span
                                class="item-size mr-2 btn-1" type="button">M</span> <span class="item-size btn-1"
                                                                                          type="button">L</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div><i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span></div>
                        <span class="buy">BUY +</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript'></script>
</body>
<script>
    var vue_obj = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            color: 'bg-primary',
            is_start: false,
            product_list: [],
            txt_src: null,
            typingTimer: null,
            doneTypingInterval: 1000,
        },
        methods: {
            changeColor() {
                if (this.color == 'bg-primary') {
                    this.color = 'bg-danger'
                } else {
                    this.color = 'bg-primary'
                }
            },
            startInterval() {
                this.is_start = true
                this.intervalId = setInterval(() => {
                    this.changeColor()
                }, 1000);
            },
            stopInterval() {
                this.is_start = false
                clearInterval(this.intervalId);
                this.message = "Interval stopped.";
            },
            liveSearch(evt) {
                let vm = this
                clearTimeout(this.typingTimer)
                if (this.txt_src.trim() !== '') {
                    this.typingTimer = setTimeout(function () {
                        $.LoadingOverlay("show");
                        let payload = vm.txt_src.trim()
                        let url = `http://127.0.0.1:5000/get_product_by_filter?txt_src=${payload}`
                        axios.get(url).then(response => {
                            vm.product_list = response.data
                            $.LoadingOverlay("hide");
                        }).catch(function (error) {
                            alert('error: ' + error.message)
                            $.LoadingOverlay("hide");
                        });
                    }, this.doneTypingInterval)
                } else {
                    this.typingTimer = setTimeout(function () {
                        this.product_lists = []
                    }, this.doneTypingInterval)
                }
            },
        },
        created() {
            $.LoadingOverlay("show");
        },
        mounted() {
            axios.get('http://127.0.0.1:5000/get_all_product').then(response => {
                this.product_list = response.data
                $.LoadingOverlay("hide");
            }).catch(function (error) {
                alert('error: ' + error.message)
                $.LoadingOverlay("hide");
                {#console.log(error);#}
            });
        }
    });
</script>
</html>
